<form id="contacto" action="" method="get">
    <a name="contacto"><h1><span>──</span> Contacto <span>──</span></h1></a>
    <div class="form-example">
        <input data-bs-toggle="mensaje" title="Completa el campo" type="text" name="nombre" placeholder="Nombre">
    </div>
    <div class="form-example">
        <input data-bs-toggle="mensaje" title="Completa el campo" type="text" name="correo" placeholder="Mail">
    </div>
    <div class="form-example">
        <input data-bs-toggle="mensaje" title="Completa el campo" type="text" name="telefono" placeholder="Teléfono">
    </div>
    <div class="form-example">
        <textarea name="mensaje" placeholder="Escribe tu mensaje aquí..."></textarea>
    </div>
    <!--<input type="button" value="ENVIAR" id="boton">-->
    <button type="submit" class="btn btn-primary">Enviar</button>
    <button type="reset" class="btn btn-secondary">Borrar</button> 
</form>