<div class="card">
<h2>Iniciar Sesión</h2>
</div>
<div class="container">
<form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label class="form-label">Usuario:</label>
        <input type="text" class="form-control" formControlName="email" placeholder="Ingrese nombre de usuario">
    </div>
    <div class="mb-3">
        <label class="form-label">Contraseña:</label>
        <input type="password" class="form-control" formControlName="password" placeholder="Ingrese contraseña">
    </div>
    <input type="submit" value="Enviar" class="button">
</form>
<p class="separador">____________________________________</p>
<p><a class="link" (click)="onClick()">Inicia Sesión con una cuenta de google</a></p> 
<!--<button class="btn btn-secondary m-4" (click)="onClick()">Loguearse con una cuenta Google</button>-->
</div>