<div class="row">
    <h1><span>──</span> Hard & Soft Skill <span>──</span></h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [title]="'HTML'"
            [titleColor]="''"
            [titleFontSize]="'2rem'"
            [showUnits]="false"
            [showSubtitle]="false"
            [imageSrc]="'./assets/util/html.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [percent]="75"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#ff3300'"
            [innerStrokeColor]="'#f09561'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [title]="'CSS'"
            [titleColor]="''"
            [titleFontSize]="'2rem'"
            [showUnits]="false"
            [showSubtitle]="true"
            [imageSrc]="'./assets/util/css.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [percent]="60"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#0f3ac7'"
            [innerStrokeColor]="'#3e68f0'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [title]="'JavaScript'"
            [titleColor]="''"
            [titleFontSize]="'2rem'"
            [showUnits]="false"
            [showSubtitle]="true"
            [imageSrc]="'./assets/util/js.jpg'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [percent]="30"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#f3ef02'"
            [innerStrokeColor]="'#ecea5a'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [title]="'Angular'"
            [titleColor]="''"
            [titleFontSize]="'2rem'"
            [showUnits]="false"
            [showSubtitle]="true"
            [imageSrc]="'./assets/util/angular.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [percent]="70"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#dd1212'"
            [innerStrokeColor]="'#e26b6b'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [title]="'SpringBoot'"
            [titleColor]="''"
            [titleFontSize]="'2rem'"
            [showUnits]="false"
            [showSubtitle]="true"
            [imageSrc]="'./assets/util/spring.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [percent]="50"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#bcdd88'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [title]="'MySQL'"
            [titleColor]="''"
            [titleFontSize]="'2rem'"
            [showUnits]="false"
            [showSubtitle]="true"
            [imageSrc]="'./assets/util/sql.jpg'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [percent]="40"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#474746'"
            [innerStrokeColor]="'#bebebe'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
</div>
