<header id="inicio">
    <div class="card bg-dark text-white">
        <img src="assets/util/banner.jpg" class="card-img" alt="...">
        <div class="card-header-2">
          <h1 class="card-title"><span>────</span> Alexis <span>────</span></h1>
          <h6 class="card-text">...Front-End Back-End y Bases de Datos...</h6>
          <h2 class="card-text"><i class="fa-solid fa-marker"></i> Desarrollador Web Full Stack</h2>   
        </div>
        <div class="boton">
            <a href="#informacion" class="btn btn-primary">Sobre mí</a>
        </div>
      </div>
</header>